window {
    margin: 0px;
    border: 2px solid #89b4fa;
    border-radius: 10px;
    background-color: #1e1e2e;
}

#input {
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: #cdd6f4;
    background-color: #313244;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#text {
    margin: 5px;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #313244;
    border-radius: 5px;
}

#entry:selected #text {
    color: #89b4fa;
}
