window {
    margin: 0px;
    border: 2px solid #9EBD6E;
    border-radius: 10px;
    background-color: #1e1e28;
}

#input {
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: #d4d4c8;
    background-color: #2a2a36;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#text {
    margin: 5px;
    color: #d4d4c8;
}

#entry:selected {
    background-color: #2a2a36;
    border-radius: 5px;
}

#entry:selected #text {
    color: #9EBD6E;
}
